@import "../assets/styles/variables";

.app-container {
  height: 300px;

  .hero-container {
    position: relative;
    background-color: #f5f5f5;

    .hero-heading {
      color: $primary;
    }

    .search-wrapper {
      position: absolute;
      bottom: -65px;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  .catalogue-wrapper {
  }
}
