@import "../../assets/styles/variables";

.catalogue-container {
  margin-top: 50px;

  .catalogue-card {
    box-shadow: 0 3px 48px -12px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    margin: 20px;

    .is-selected {
      position: absolute;
      background: $green;
      color: white;
      border-radius: 50%;
      z-index: 99;
      font-size: 45px;
      right: -20px;
      top: -10px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .tag {
      position: absolute;
      left: 0;
      top: 10px;
      background-color: #f5f5f5;
      color: $primary;
      font-size: 11px;
      padding: 2px 3px;
      font-weight: bold;
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px;

      .lnr {
        color: red;
      }
    }

    .catalogue-img {
      height: 150px;
    }

    .catalogue-name {
      color: $primary;
    }

    .catalogue-price {
      font-weight: bold;
      font-size: 22px;
      color: $primary;
      margin-bottom: 0;
    }

    .na-tag {
      border-radius: 4px;
      background-color: #616161;
      color: #fff;
      text-align: center;
      width: 200px;
      padding: 8px;
    }
  }
}
