@import "../../assets/styles/variables";

.catalogue-container {
  margin-top: 50px;

  .catalogue-card {
    box-shadow: $box-shadow;
    border-radius: 4px;
    margin: 20px;

    .tag {
      position: absolute;
      left: 0;
      top: 10px;
      background-color: #f5f5f5;
      color: $primary;
      font-size: 11px;
      padding: 2px 3px;
      font-weight: bold;
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px;

      .lnr {
        color: red;
      }
    }

    .catalogue-img {
      height: 150px;
    }
    .catalogue-name {
      color: $primary;
    }
    .catalogue-price {
      font-weight: bold;
      font-size: 22px;
      color: $primary;
      margin-bottom: 0;
    }
  }
}
