/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Noto+Sans:400,600');
@import url('https://cdn.linearicons.com/free/1.0.0/icon-font.min.css');
@import "assets/styles/variables";

* {
  font-family: 'Noto Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
}

// Datepicker
.bs-datepicker.theme-green .bs-datepicker-container {
  padding: 0 !important;
}

.btn-green {
  color: white;
  background-color: $green;
  border-radius: 3px;
  outline: none;
  border: none;
  padding: 7px 10px;
  font-weight: bold;

  &:hover {
    color: white;
  }
}

.fo-11 {
  font-size: 11px;
}

.fw-bold {
  font-weight: bold;
}

.pointer {
  cursor: pointer;
}

.input-group {
  display: flex;
  flex-direction: column;

  label {
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 3px;
    color: $primary;
  }

  input[type="text"] {
    height: 40px;
    border-radius: 3px;
    border: 1px solid #4e9277a6;
    padding-left: 10px;
    margin: auto 10px;
  }
}
